@{
    Layout = "_DeniedLayout";
}

<style>

    #denied{
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
    }
</style>


<div class="container-fluid">

    <div class="row">
        <div class="col-12 mt-5 align-content-cente" id="denied">
            <img src="https://cdn.dribbble.com/users/2950423/screenshots/7191173/media/5e53ea26e1458bdb27fe61bea68516cd.png" class="img-thumbnail">
        </div>
        
    </div>
    
</div>