@model string

@{
    Layout = "_MainLayout";
}


<style>

    body {
        background-image: url(https://images.unsplash.com/photo-1613662449996-35130a75be10?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<div class="text-center">

  
    <div class="text-black-100 fw-semibold mt-5">
        <h1>A Purposeful University</h1>
    </div>

    <div class="mt-5 text-black-100 fw-medium fst-italic fs-6 ">
        <h4>Stanford was founded almost 150 years ago on a bedrock of societal purpose. Our mission is <br> to  contribute to the world by educating students for lives of leadership and purposeful <br> contribution; advancing fundamental knowledge and cultivating creativity; and accelerating <br>solutions and amplifying their impact.</h4>
    </div>

   

</div>